<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlyaSzrf8Dyye1yTr7Dlh9FeuKdlWxWnE</string>
	<key>GCM_SENDER_ID</key>
	<string>1068716969676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.strava.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>strava-de-gars-chaud</string>
	<key>STORAGE_BUCKET</key>
	<string>strava-de-gars-chaud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068716969676:ios:869e7c0af8c2725b3a3c69</string>
</dict>
</plist>